/*csslint order-alphabetical:false,outline-none:false, universal-selector:false, box-model:false, qualified-headings: false, unique-headings:false, box-sizing:false, fallback-colors:false compatible-vendor-prefixes:false*/

/*
========================================================
    BROWSER RESET - gebaseerd op html5 doctor css reset
     http://html5doctor.com/html-5-reset-stylesheet
========================================================
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;vertical-align:baseline;background:transparent}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}
nav ul{list-style:none}
ul{margin-left:1.1em;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}

*,*:before,*:after{box-sizing: border-box;}
/*     EINDE BROWSER RESET */

/* achtergrond */

.airport {
    background-image: url(../images/airport.jpg);
    background-repeat: no-repeat;
    height: 100vh;
}


/* buttons */

.nsyellow {
    background-color: #FECA00;
    border-style: none;
    margin: 3px;
    box-shadow: inset 0 -0.2em 0 #CFA400;
    font-size: 1em;
    line-height: 1.2em;
    color: #002C89;
    font-weight: 500;
}

.nsyellow:active,
.nsyellow:hover {
    background-color: #CFA400;
    border-style: none;
    transition: .15s ease-in-out;
}

.nsblue {
    margin: 1em 0 1em 0;
    padding-left: 1em;
    width: 12em;
    height: 3em;
    background-color: #0078DA;
    border-style: none;
    text-align: left;
    box-shadow: inset 0 -0.2em 0 #005BA5;
    color: white;
}

.nsblue:after {
    content: ">";
    padding-left: 1em;
}

.nsblue:hover {
    background-color: #005BA5;
    transition: .15s ease-in-out;
}

.fbblue {
    margin: 1em 0 1em 0;
    padding-left: 1em;
    width: 12em;
    height: 3em;
    background-color: #3A589D;
    border-style: none;
    text-align: left;
    box-shadow: inset 0 -0.2em 0 #26417F;
    color: white;
}

.fbblue:hover {
    background-color: #26417F;
    transition: .15s ease-in-out;
}

.verwijderen:focus {
    outline: none;
}


/* filter en sorteren */

.leeslijst {
    padding: 0 2em 2em;
    background-color: #FECA00;
}

progress {
    width: 100%;
}


/* typografie */

body {
    font-family: 'Fira Sans', sans-serif;
}

p,
a,.nsblue,
.nsyellow,
.fbblue {
    font-size: 0.9em;
    text-decoration: none;
}

.breadcrumb,
.breadcrumb a {
    color: grey;

}

h2,
legend {
    font-size: 1.6em;
    line-height: 1em;
    color: #002C89;
    margin: 0 0 0.4em 0;
}
a {
    color: #002C89;
}

.lees {
    color: #0078DA;
}

.current {
    text-decoration: underline;
}

.inactive {
    color: grey;
    margin-bottom: 1em;
    font-size: 0.9em;
        margin-bottom: 2em;

}


/* header */

header {
    display: flex;
    padding: 1.5em;
    background-color: white;
    flex-direction: row;
    box-shadow: inset 0 -0.2em 0 #c0c0c0;
}

header nav ul {
    display: flex;
    flex-direction: row;
}


/* navigatie */

nav {
    flex-grow: 1;
}

li {
    padding-right: 1em;
}

.searchicon {
    margin: -0.5em 0.5em 0 0;
}


/* main, section en article */

article {
    background-color: white;
    display: block;
}


main {
    padding: 2em;
    background-color: #e6e6e9;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

section > .overzicht {
    margin: 1.5em 1.5em 1.5em 0;
}

section > .overzicht .info  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.8em;
    color: grey;
    margin: 0 0 1em;
}

.overzicht {
    box-shadow: inset 0 -0.2em 0 #c0c0c0;
}

.afbartikel {
    width: 100%;
    margin-bottom: -1em;
}

.marge {
    padding: 1.5em 1.5em;
}

.pgnr {
    padding-left: 1em;
}


/* registreren */

.airport > section {
    margin-top: 5.8em;
    justify-content: center;
}

.inloggen,
.registreren {
    display: block;
}

.inloggen,
.registreren {
    width: 30em;
    margin-right: 2em;
    padding: 2em;
    background: rgba(255, 255, 255, 0.9);
}

.inloggen > fieldset {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.registreren > fieldset {
    display: flex;
    flex-direction: row;
    width: 100%;
}

fieldset {
    padding-bottom: 2em;
}

.registreren input,
.inloggen input {
    height: 2em;
    width: 100%;
    margin-bottom: 1em;
}


/* zoeken, filteren, sorteren en inloggen*/

form {
    display: flex;
}


.mob, .desk, .tablet {
    width: 100%;
    margin-bottom: -1em;
}

/* media queries mobiel */

@media (max-width:35em) {
    .leeslijst > .overzicht:nth-child(3) {
        display: none;
    }
    .leeslijst > .overzicht:nth-child(2) {
        display: none;
    }
    .leeslijst > .overzicht:nth-child(4) {
        display: none;
    }

    header {
        display: flex;
        flex-direction: column;
    }
    .overzicht {
        width: 100%;
    }
    .zoeken {
        margin-top: 1em;
        width: 100%;
    }
    .sorteren {
        display: none;
    }
    .nsyellow {
        width: 21.5%;
        height: 60px;
    }
    .searchicon {
        display: none;
    }
    .logo {
        margin-bottom: 1em;
    }
    .next {
        position: absolute;
        right: 1em;
        top: 16.5em;
    }
    .desk {
        display: none;
    }
    .tablet {
        display: none;
    }
    .breadcrumb {
        margin-bottom: 1em;
    }

}

@media (min-width:35em) {
    .overzicht {
        width: 45%;
    }
    .sorteren {
        margin-left: auto;
        padding: 1em;
        margin-right: 1em;
    }
    .nsyellow {
        width: 73px;
        height: 60px;
    }
    .next {
        display: none;
    }
       .mob {
        display: none;
    }

}

@media (max-width:60em) {
    .leeslijst > .overzicht:nth-child(3) {
        display: none;
    }
    .leeslijst > .overzicht:nth-child(4) {
        display: none;
    }
    .next {
        display: inline;
    }
        .desk {
        display: none;
    }
}


/* media queries tablet */

@media (min-width:60em) {
    .overzicht {
        width: 30%;
    }
    .leeslijst > .overzicht:nth-child(3) {
        display: none;
    }
    .tablet {
        display: none;
    }




}


/* media queries desktop */

@media (min-width:80em) {
    .overzicht {
        width: 23%;
    }
    .leeslijst > .overzicht:nth-child(3) {
        display: inline;
    }


}


/* microinteracties */

.verwijderen {
    margin-top: 1em;
    float: right;
    display: block;
    margin-left: 1.5em;
    width: 25px;
    height: 20px;
    background-image: url(../images/eye-black.svg);
    background-repeat: no-repeat;
    background-color: white;
    border-style: none;
}

.verwijderen {
    background-image: url(../images/close.svg);
    margin: -3em -1em 0 0;
}

.verwijderen:active {
    background-image: url(../images/close-yellow.svg);
    transition: 0s;
}

.overzicht:hover,
.overzicht:active {
    box-shadow: inset 0 -0.2em 0 #005BA5;
    transition: .2s ease-in-out;
    cursor: pointer;
}



.icons {
    margin-top: 1em;
    text-align: right
}

.marge:nth-child(4) {
    opacity: 0.5;
}

.marge:nth-child(4):hover {
    box-shadow: inset 0 -0.2em 0 #c0c0c0;
}

.verhaal {
    padding: 0 10% 0 10%;
    background-color: #e6e6e9;
}

.tanka {
    padding: 2em;
    width: 100%;
    box-shadow: none;
}

.tanka:hover {
    box-shadow: none;
    cursor: auto;
}


[class="read"] {
  position: absolute;
  left: 1;
    opacity: 0;
}

[for="read"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.2s ease-in-out;

}

[for="read"]:hover {
  color: grey;

}

[class="read"]:checked + label {
  color: #e2264d;
}

[class="share"] {
  position: absolute;
  left: 1;
    opacity: 0;
}

[for="share"] {
  color: #aab8c2;
  cursor: pointer;
  font-size: 1em;
  transition: color 0.2s ease-in-out;
    padding-right: 1em;

}

.leeslijst .overzicht:nth-child(4) {
    opacity: 0.5;
        box-shadow: inset 0 -0.2em 0 #ffffff;

}
.leeslijst .overzicht:nth-child(4):hover {
        box-shadow: inset 0 -0.2em 0 #ffffff;
}


.read {
    margin-right: 10em;
}

.tanka nav ul {
    display: flex;
    flex-direction: row;
        justify-content: flex-end;

}

.tanka nav ul li:nth-child(2):before,.tanka nav ul li:nth-child(3):before {
    content: '>';
    padding-right: 0.5em;
}

.tanka aside fieldset form {
    display: flex;
    flex-direction: column;
}

textarea {
    max-width: 40em;
    height: 10em;
    padding: 1em;
}

.reacties {
    margin-left:
}

